node_modules/

reports/allure-results/*
!reports/allure-results/.gitkeep
reports/html-report/*
!reports/html-report/.gitkeep

logs/*
!logs/.gitkeep

.env.local
.env.*.local

*.log
*.tmp
*.temp

.allure/
.wdio/

dist/
coverage/
